*.env
product-service/env.json
product-service/sql/DDL.sql
product-service/sql/DML.sql
product-service/sql/initial.sql
node_modules/
/**/.vscode/
import-service-v1/
import-service/usage of env.example.yml
import-service/.env.local
